<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                <form (ngSubmit)="saveUser()" #form="ngForm">
                    <div class="form-group">
                        <label>{{ 'USER.NAME.LABEL' | translate }}</label>
                        <input type="text" nbInput fullWidth placeholder="Name" name="name"
                            [(ngModel)]="userRequest.name" #name=ngModel required>
                        <label [hidden]="name.valid || name.pristine" class="error text-danger">
                            {{ 'USER.NAME.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of userError.name">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.EMAIL.LABEL' | translate }}</label>
                        <input type="email" nbInput fullWidth placeholder="Email" name="email"
                            [(ngModel)]="userRequest.email" #email=ngModel required>
                        <label [hidden]="email.valid || email.pristine" class="error text-danger">
                            {{ 'USER.EMAIL.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of userError.email">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.MOBILE_NUMBER.LABEL' | translate }}</label>
                        <input type="mobile_number" nbInput fullWidth placeholder="Mobile Number" name="mobile_number"
                            [(ngModel)]="userRequest.mobile_number" #mobile_number=ngModel required>
                        <label [hidden]="mobile_number.valid || mobile_number.pristine" class="error text-danger">
                            {{ 'USER.MOBILE_NUMBER.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of userError.mobile_number">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.MOBILE_VERIFIED.LABEL' | translate }}</label>
                        <nb-checkbox class="form-control" name="mobile_verified" nbInput fullWidth
                            [checked]="userRequest.mobile_verified"
                            (change)="onMobileVerifiedChange($event.target.checked)">{{ 'USER.MOBILE_VERIFIED.LABEL' |
                            translate }}?</nb-checkbox>
                        <label class="error text-danger"
                            *ngFor="let error of userError.mobile_verified">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.PASSWORD.LABEL' | translate }}</label>
                        <input type="password" nbInput fullWidth id="password" placeholder="Password" name="password"
                            [(ngModel)]="userRequest.password" #password=ngModel [required]="!isEdit">
                        <label [hidden]="password.valid || password.pristine" class="error text-danger">
                            {{ 'USER.PASSWORD.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of userError.password">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.ROLES.LABEL' | translate }}</label>
                        <nb-select fullWidth name="roles" multiple [(ngModel)]="userRequest.roles" #roles=ngModel
                            style="text-transform: capitalize">
                            <nb-option *ngFor="let userRole of userRoles" [value]="userRole.name">{{
                                formatRole(userRole.name) }}</nb-option>
                        </nb-select>
                        <label class="error text-danger" *ngFor="let error of userError.roles">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.IMAGE.LABEL' | translate }}</label>
                        <input type="file" nbInput fullWidth (change)="onImageChanged($event)">
                        <label class="error text-danger" *ngFor="let error of userError.image">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.LANGUAGE.LABEL' | translate }}</label>
                        <input type="language" nbInput fullWidth placeholder="Language" name="language"
                            [(ngModel)]="userRequest.language" #language=ngModel required>
                        <label [hidden]="language.valid || language.pristine" class="error text-danger">
                            {{ 'USER.LANGUAGE.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of userError.language">{{error}}</label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'USER.BALANCE.LABEL' | translate }}</label>
                        <input type="number" nbInput fullWidth placeholder="Balance" name="balance"
                            [(ngModel)]="userRequest.balance" #balance=ngModel required>
                        <label [hidden]="balance.valid || balance.pristine" class="error text-danger">
                            {{ 'USER.BALANCE.VALIDATION' | translate }}
                        </label>
                        <label class="error text-danger" *ngFor="let error of userError.balance">{{error}}</label>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <nb-card>
                                <nb-card-header>{{ 'USER.FIELDS.PROFILE.HEADER' | translate }}
                                </nb-card-header>
                                <nb-card-body>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>{{ 'USER.FIELDS.PROFILE.COMPANY_NAME.LABEL' | translate }}</label>
                                            <input type="text" nbInput fullWidth placeholder="Company Name"
                                                name="profile_company_name"
                                                [(ngModel)]="userRequest.meta.company_name"
                                                #profile_company_name=ngModel>
                                            <label
                                                [hidden]="profile_company_name.valid || profile_company_name.pristine"
                                                class="error text-danger">
                                                {{ 'USER.FIELDS.PROFILE.COMPANY_NAME.VALIDATION' | translate }}
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>{{ 'USER.FIELDS.PROFILE.COMPANY_EMAIL.LABEL' | translate }}</label>
                                            <input type="email" nbInput fullWidth placeholder="Company Email"
                                                name="profile_company_email"
                                                [(ngModel)]="userRequest.meta.company_email"
                                                #profile_company_email=ngModel>
                                            <label
                                                [hidden]="profile_company_email.valid || profile_company_email.pristine"
                                                class="error text-danger">
                                                {{ 'USER.FIELDS.PROFILE.COMPANY_EMAIL.VALIDATION' | translate }}
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>{{ 'USER.FIELDS.PROFILE.BIO.LABEL' | translate }}</label>
                                            <input type="text" nbInput fullWidth placeholder="Bio" name="profile_bio"
                                                [(ngModel)]="userRequest.meta.bio" #profile_bio=ngModel>
                                            <label
                                                [hidden]="profile_company_email.valid || profile_company_email.pristine"
                                                class="error text-danger">
                                                {{ 'USER.FIELDS.PROFILE.BIO.VALIDATION' | translate }}
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>{{ 'USER.FIELDS.PROFILE.HOBBIES.LABEL' | translate }}</label>
                                            <input type="text" nbInput fullWidth placeholder="Hobbies" name="profile_hobbies"
                                                [(ngModel)]="userRequest.meta.hobbies" #profile_hobbies=ngModel>
                                            <label
                                                [hidden]="profile_hobbies.valid || profile_hobbies.pristine"
                                                class="error text-danger">
                                                {{ 'USER.FIELDS.PROFILE.HOBBIES.VALIDATION' | translate }}
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>{{ 'USER.FIELDS.PROFILE.GOVERNMENT_ID.LABEL' | translate }}</label>
                                            <input type="text" nbInput fullWidth placeholder="Government ID" name="profile_government_id"
                                                [(ngModel)]="userRequest.meta.government_id" #profile_government_id=ngModel>
                                            <label
                                                [hidden]="profile_government_id.valid || profile_government_id.pristine"
                                                class="error text-danger">
                                                {{ 'USER.FIELDS.PROFILE.GOVERNMENT_ID.VALIDATION' | translate }}
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>{{ 'USER.FIELDS.PROFILE.DRIVING_LICENSE.LABEL' | translate }}</label>
                                            <input type="text" nbInput fullWidth placeholder="License" name="profile_license"
                                                [(ngModel)]="userRequest.meta.license" #profile_license=ngModel>
                                            <label
                                                [hidden]="profile_license.valid || profile_license.pristine"
                                                class="error text-danger">
                                                {{ 'USER.FIELDS.PROFILE.LICENSE.VALIDATION' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>

                    <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
                        size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                    &nbsp;
                    <button type="button" nbButton status="danger" size="medium" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>