<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [nbSpinner]="showProgress" nbSpinnerStatus="danger">
                <form (ngSubmit)="saveRide()" #form="ngForm">
                    <!-- <div *ngIf="apiLoaded | async" class="row">
                        <div class="col-md-12">
                            <google-map #googleMap width="100%" (boundsChanged)="onBoundsChanged()" minZoom="1">
                                <map-marker
                                    [position]="{ lat: parseFloat(ride?.address?.latitude), lng: parseFloat(ride?.address?.longitude) }"
                                    label="C">
                                </map-marker>
                                <map-marker
                                    [position]="{ lat: parseFloat(ride?.profile?.latitude), lng: parseFloat(ride?.profile?.longitude) }"
                                    label="V">
                                </map-marker>
                                <map-marker
                                    [position]="{ lat: parseFloat(ride?.delivery?.delivery?.latitude), lng: parseFloat(ride?.delivery?.delivery?.longitude) }"
                                    label="D">
                                </map-marker>
                            </google-map>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card>
                                <nb-card-header>{{ 'RIDE.FIELDS.PROFILE.HEADER' | translate }}</nb-card-header>
                                <nb-card-body>
                                    <div class="form-group">
                                        <label>{{ 'RIDE.FIELDS.PROFILE.NAME.LABEL' | translate }}</label>
                                        <input readonly nbInput fullWidth [value]="ride.profile?.user.name" />
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'RIDE.FIELDS.PROFILE.EMAIL.LABEL' | translate }}</label>
                                        <input readonly nbInput fullWidth [value]="ride.profile?.user.email" />
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'RIDE.FIELDS.PROFILE.MOBILE_NUMBER.LABEL' | translate }}</label>
                                        <input readonly nbInput fullWidth [value]="ride.profile?.user.mobile_number" />
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card>
                                <nb-card-header>{{ 'RIDE.FIELDS.ADDRESS_FROM.HEADER' | translate }}</nb-card-header>
                                <nb-card-body>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>{{ 'RIDE.FIELDS.ADDRESS_FROM.ADDRESS.LABEL' | translate
                                                    }}</label>
                                                <input readonly nbInput fullWidth [value]="ride.address_from" />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'RIDE.FIELDS.ADDRESS_FROM.LATITUDE.LABEL' | translate
                                                            }}</label>
                                                        <input readonly nbInput fullWidth [value]="ride.latitude_from" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'RIDE.FIELDS.ADDRESS_FROM.LONGITUDE.LABEL' | translate
                                                            }}</label>
                                                        <input readonly nbInput fullWidth [value]="ride.longitude_from" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card>
                                <nb-card-header>{{ 'RIDE.FIELDS.ADDRESS_TO.HEADER' | translate }}</nb-card-header>
                                <nb-card-body>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>{{ 'RIDE.FIELDS.ADDRESS_TO.ADDRESS.LABEL' | translate
                                                    }}</label>
                                                <input readonly nbInput fullWidth [value]="ride.address_to" />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'RIDE.FIELDS.ADDRESS_TO.LATITUDE.LABEL' | translate
                                                            }}</label>
                                                        <input readonly nbInput fullWidth [value]="ride.latitude_to" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'RIDE.FIELDS.ADDRESS_TO.LONGITUDE.LABEL' | translate
                                                            }}</label>
                                                        <input readonly nbInput fullWidth [value]="ride.longitude_to" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'RIDE.FIELDS.PRICE.LABEL' | translate }}</label>
                        <input readonly nbInput fullWidth [value]="ride.price_per_seat" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'RIDE.FIELDS.SEATS.LABEL' | translate }}</label>
                        <input readonly nbInput fullWidth [value]="ride.seats" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'RIDE.FIELDS.RIDE_ON.LABEL' | translate }}</label>
                        <input readonly nbInput fullWidth [value]="ride.ride_on" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'RIDE.FIELDS.CREATED_AT.LABEL' | translate }}</label>
                        <input readonly nbInput fullWidth [value]="ride.created_at" />
                    </div>
                    <div class="form-group">
                        <label>{{ 'RIDE.FIELDS.STATUS.LABEL' | translate }}</label>
                        <nb-select fullWidth name="status" id="status" [(ngModel)]="rideRequest.status" #status=ngModel
                            style="text-transform:capitalize">
                            <nb-option *ngFor="let rideStatus of rideStatusList" [value]="rideStatus">{{ rideStatus }}
                            </nb-option>
                        </nb-select>
                        <label class="error text-danger" *ngFor="let error of rideError.status">{{error}}</label>
                    </div>
                    <button type="submit" [disabled]="!form.form.valid || showProgressButton" nbButton status="success"
                        size="medium" [nbSpinner]="showProgressButton" nbSpinnerStatus="success" nbSpinnerSize="small">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                    &nbsp;
                    <button type="button" nbButton status="danger" size="medium" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>